<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../style.css" />
  <title>Three Step Trivia</title>
</head>

<body>
  <div id="imageGallery">
    <img src="https://goodstock.photos/wp-content/uploads/2018/07/Old-Fancy-Marble-Stairs.jpg">
    <img src="https://goodstock.photos/wp-content/uploads/2017/10/Stairway-Going-Down.jpg">
    <img src="https://www.ghoofie.com/images/2011/06/Clasic-Stairs-Design-Ideas.jpg">
    <img src="https://1.bp.blogspot.com/-p2nLDo_m9Uo/Tiulws30G3I/AAAAAAAAASg/d6CJQn2Bif8/s1600/Louvre+Spiral+Staircase.jpg">
    <img src="https://cdn.decoratorist.com/wp-content/uploads/diy-basement-remodel-stairs-ideas-small-407070.jpg">
  </div>
  <h2> I've had to visit many different URLs to find information about the longest
    staircase in the world, and if I were to walk up it, I will feel like I'm in an entirely different location. How
    many steps are there in this never-ending flight of steps? </h2>
  <h3 style="color:green">Step 2/3</h3>
</body>

</html>
