html {
    background-color:#18dddd;
    
}

h1 {
    font-size: 55px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding: 15px 0 15px;
    margin-top: 35px;
}

h2 {
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    padding: 35px 0 15px;
    text-align: center;

}
h3 {
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 10px 0 10px;

}

p {
    font-size: 40px;
    line-height: 2;
    font-family: 'VT323', monospace;
    text-align: center;
    position: absolute;
    left:0;
    right:0;
}

.a{
    opacity: 1;
}
.b{
    opacity: 1;
}
.c{
    opacity: 1;
}
.d{
    opacity: 1;
}
.e{
    opacity: 1;
}
.f{
    opacity: 1;
}
.g{
    opacity: 1;
}
.h{
    opacity: 1;
}
.i{
    opacity: 1;
}
.j{
    opacity: 1;
}
.k{
    opacity: 1;
}
.l{
    opacity: 1;
}

.m{
    opacity: 1;
}
.n{
    opacity: 1;
}
.o{
    opacity: 1;
}
.p{
    opacity: 1;
}
.q{
    opacity: 1;
}
.r{
    opacity: 1;
}

.s{
    opacity: 1;
}
.t{
    opacity: 1;
}
.u{
    opacity: 1;
}
.v{
    opacity: 1;
}
.w{
    opacity: 1;
}
.x{
    opacity: 1;
}
.y{
    opacity: 1;
}
.z{
    opacity: 1;
}

