<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="global.css" />
    <title>Agent Rocket</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome back Admin!</h2>
      {{#if agent}}
        <p>Here is your flag: bcactf{u53r_4g3Nt5_5rE_c0OL_1023}.<br>You should be able to launch the rocket with this.</p>
      {{else}}
        <p>Nice to see you working from home again.<br>If you are trying to launch the rocket, try logging in from the
          control panel.</p>
      {{/if}}
      <!-- The name of the device is "BCACTF Rocket Control Panel" in case you forgot. -->
    </div>
  </body>
</html>